<!-- /templates/main/notfound.html -->
{% extends "base.html" %}

{% block content %}

 <div class="container">
   <div class="row py-3 rounded fundo_181818 p-4 position-absolute top-50 start-50 translate-middle">  

    <div class="col-3 rounded">
      <img src="static/img/Erros/SemResultado.png" class="img-fluid rounded" alt="...">
    </div>
     
     <div class="col">
      <h1 class="cor_ffffff">Página Não Encontrada</h1>
      <hr class="cor_ffffff">
      <p class="lead cor_ffffff">
          A página <b>{{ request.path }}</b> que você tentou acessar não existe. O endereço da página pode estar incorreto ou a página pode ter sido removida.
      </p>
     </div>
     
   </div>
 </div>

{% endblock %}