<!-- {% if musicas %} -->

  <!-- {% for m in musicas %} -->
    <div class="col-2 fundo_181818 p-3 rounded">
      <img src="static/img/Capa_Albuns/back_in_black.jpg" class="img-fluid rounded" alt="...">
      <div class="col h6 text-light mt-3">
        Back in Black 
      </div>
      <div class="h7 text-light mt-1">
        AC/DC: 
      </div>
    </div>
    <div class="col-2 fundo_181818 p-3 rounded">
      <img src="static/img/Capa_Albuns/thriller.jpg" class="img-fluid rounded" alt="...">
      <div class="col h6 text-light mt-3">
        Thriller
      </div>
      <div class="h7 text-light mt-1">
        Michael Jackson
      </div>
    </div>
    <div class="col-2 fundo_181818 p-3 rounded">
      <img src="static/img/Capa_Albuns/the_dark_side_of_the_moon.jpg" class="img-fluid rounded" alt="...">
      <div class="col h6 text-light mt-3">
        Back in Black 
      </div>
      <div class="h7 text-light mt-1">
        The Dark Side of the Moon
      </div>
    </div>
    <div class="col-2 fundo_181818 p-3 rounded">
      <img src="static/img/Capa_Albuns/bat_out_of_hell.jpg" class="img-fluid rounded" alt="...">
      <div class="col h6 text-light mt-3">
        Bat Out of Hell
      </div>
      <div class="h7 text-light mt-1">
        Meat Loaf
      </div>
    </div>
    <div class="col-2 fundo_181818 p-3 rounded">
      <img src="static/img/Capa_Albuns/rumours.jpg" class="img-fluid rounded" alt="...">
      <div class="col h6 text-light mt-3">
        Rumours
      </div>
      <div class="h7 text-light mt-1">
        Fleetwood Mac
      </div>
    </div>
    <div class="col-2 fundo_181818 p-3 rounded">
      <img src="static/img/Capa_Albuns/rumours.jpg" class="img-fluid rounded" alt="...">
      <div class="col h6 text-light mt-3">
        Rumours
      </div>
      <div class="h7 text-light mt-1">
        Fleetwood Mac
      </div>
    </div>
  <!-- {% endfor %} -->
<!-- {% endif %} -->